@import '../styles/colors';

.DestinationSearchBar-input {
  width: 800px;
  padding: 10px 20px;
  background-color: @destination-input;
  box-shadow: 1px 1px 20px 5px rgba(126, 126, 126, 1);
  border: none;
  color: white;
  border-radius: 20px;
  outline: none;
  font-size: 20px;
}